<div ng-controller="mainContentCtrl"  > 


        <!-- Main content -->
<section class="main-content">
    
    <div class="content-background" ng-style="{'background-image':'url(' + backgroundImage + ')'}" >
   
   </div>

   <div class="content-logo">
    
   </div>

<div class="content2">
    <div class="message">
     

     <!-- <blockquote>“I have always believed that fashion was not only to make women more beautiful, but also to reassure them, give them confidence.” 
     </blockquote> -->
       <p> FALL & WINTER </p>
     
      <button>Shop Now</button>
    </div>
  
  
</div>

<div class="content3">
   <p class="heading">YEAR ROUND</p>

   <p class="sub-heading"> Must Have Items</p>

  <section>
   <div class="product-section" >
     
      <div class="product" ng-style="{'background-image':'url(' + img + ')'}"  ng-repeat="img in productBgImg">
        
        <a class="view" href="#">VIEW DETAILS</a>

      </div>
      

   </div>
  </section>

</div>








</section>


</div>