<section class="fotter-section">

<div class="fotter">

    <div>
      <p>STAY CONNECTED</p>
      <div class="social-icons">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      <i class="fa fa-pinterest fa-lg" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </div>
    </div>


    <div>
      <p>BE OUR FRIEND</p>
      
      <form>
        <input type="text" name="email" placeholder="Email Address"><br>
        <input type="submit" name="submit" value="Suscribe Now">

      </form>      

    </div>

    <div>
      <p>NEED ASSISTANCE?</p>
      <div class="assistance-info">
       <p>123-456-789</p>
       <p>info@prettygal.com</p>
    
      </div>
    </div>

    <div class="copywrite">
      <p class="copywrite-text">&copy; {{year}} by PRETTY GAL</p>
    </div>

</div>

</section>